// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// (i) Подключение настроек, миксинов и расширений (файл includes/index.scss) происходит автоматически во все SCSS файлы в проекте
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@forward "@styles/settings.scss";
@forward "spritemap.scss";
@forward "mixins";
@forward "extends";
