/* Главный блок */
.fls-preloader {
	pointer-events: none;
	z-index: -1;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.8s 0.3s;
}
/* Блок с элементами */
.fls-preloader__body {
	padding: 0.93rem;
	max-width: 31.25rem;
	display: flex;
	flex-direction: column;
}
/* Блок со счётчиком */
.fls-preloader__counter {
	font-size: 10rem;
}
/* Прогрессбар */
.fls-preloader__line {
}
/* Линия прогрессбара */
.fls-preloader__line span {
	display: inline-block;
	transition: width 0.2s ease;
	height: 0.8rem;
	background-color: #7a956b;
}
[data-fls-preloader-loaded] .fls-preloader {
	opacity: 0;
	visibility: hidden;
}
