.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		position: relative;
		
		@media (max-width: toEm($mobile)) {
			position: fixed;
			width: 100%;
			height: 100svh;
			left: -100%;
			top: 0;
			overflow: auto;
			padding: 70px 15px 30px 15px;
			background-color: rgba(255, 255, 255, 0.98);
			backdrop-filter: blur(10px);
			z-index: 99;
			transition: left 0.3s;
			
			[data-fls-menu-open] & {
				left: 0;
			}
		}
	}

	// .menu__close
	&__close {
		display: none;
		
		@media (max-width: toEm($mobile)) {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 20px;
			right: 20px;
			width: 40px;
			height: 40px;
			border: none;
			background: transparent;
			cursor: pointer;
			color: #333;
			z-index: 100;
			transition: color 0.3s ease;
			
			&:hover {
				color: rgb(49, 151, 168);
			}
			
			svg {
				width: 24px;
				height: 24px;
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		gap: toRem(30);
		flex-wrap: wrap;
		
		@media (max-width: toEm($mobile)) {
			flex-direction: column;
			align-items: flex-start;
			gap: toRem(20);
			padding-top: 0;
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		font-size: toRem(16);
		font-weight: 500;
		color: #333;
		transition: color 0.3s ease;
		position: relative;
		
		&:hover {
			color: rgb(49, 151, 168);
		}
		
		&--active,
		&.--navigator-active {
			color: rgb(49, 151, 168);
			
			&::after {
				content: '';
				position: absolute;
				bottom: toRem(-5);
				left: 0;
				width: 100%;
				height: 2px;
				background-color: rgb(49, 151, 168);
			}
		}
		
		@media (max-width: toEm($mobile)) {
			font-size: toRem(24);
			color: #333;
			
			&:hover {
				color: rgb(49, 151, 168);
			}
			
			&--active,
			&.--navigator-active {
				color: rgb(49, 151, 168);
			}
		}
	}
}

//Burger Icon
.icon-menu {
	display: none;
	@media (max-width: toEm($mobile)) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - 1px);
		}
		[data-fls-menu-open] & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - 1px);
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - 1px);
				transform: rotate(45deg);
			}
		}
	}
}
