<footer data-fls-footer class="footer">
	<div class="footer__container">
		<div class="footer__content">
			<a href="#hero" class="footer__logo" data-fls-scrollto="#hero">
				<span class="footer__logo-text">Tutor</span>
			</a>
			<nav class="footer__nav">
				<ul class="footer__menu">
					<li class="footer__item">
						<a href="#hero" data-fls-scrollto="#hero" class="footer__link">Главная</a>
					</li>
					<li class="footer__item">
						<a href="#about" data-fls-scrollto="#about" class="footer__link">Обо мне</a>
					</li>
					<li class="footer__item">
						<a href="#lessons" data-fls-scrollto="#lessons" class="footer__link">Виды занятий</a>
					</li>
					<li class="footer__item">
						<a href="#pricing" data-fls-scrollto="#pricing" class="footer__link">Стоимость</a>
					</li>
					<li class="footer__item">
						<a href="#contacts" data-fls-scrollto="#contacts" class="footer__link">Связь с нами</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="footer__bottom">
			<p class="footer__copyright">© <span data-footer-year>2024</span> Личный сайт репетитора. Все права защищены.</p>
		</div>
	</div>
</footer>